@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    @apply dark:bg-[#171717] dark:text-gray-100 bg-gray-50 text-gray-900
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.leading-10 img {
width: 100%;
border-radius: 4px;
margin: 40px 0;
}
